<launch>

    <!-- ToDo: move parameters -->
    <rosparam file="$(find amigo_launch_files)/launch/diagnostics/parameters/battery_parameters.yaml" command="load" />

    <node pkg="battery_manager" type="battery_manager" respawn="false" name="battery_manager" output="screen">
    </node>
    
</launch>
